
@{
    ViewBag.Title = "Index";
}

@{ 

}
<div class="membersArea">
    <h1>Members Area</h1>
    <div class="memberphoto">
        <img src="https://images.pexels.com/photos/1756665/pexels-photo-1756665.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" height="" width=""/>
    </div>
    <h3> Welcome to the site !</h3>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Tristique senectus et netus et malesuada fames ac. Sed augue lacus viverra vitae congue. Mi eget mauris pharetra et ultrices. 
        Eu non diam phasellus vestibulum. Sit amet massa vitae tortor condimentum. Arcu ac tortor dignissim convallis. 
        Aliquet risus feugiat in ante metus. Scelerisque viverra mauris in aliquam sem fringilla ut. Diam phasellus vestibulum lorem sed risus.
        <hr />
        Facilisi nullam vehicula ipsum a. Quam viverra orci sagittis eu volutpat odio facilisis mauris. At varius vel pharetra vel turpis. 
        Tellus cras adipiscing enim eu turpis egestas. Quis risus sed vulputate odio ut. Mattis molestie a iaculis at. 
        Consectetur purus ut faucibus pulvinar elementum. Mauris pharetra et ultrices neque ornare aenean. 
        Nibh ipsum consequat nisl vel pretium lectus quam id leo. Ac ut consequat semper viverra nam libero. 
        <hr />
        Dictum varius duis at consectetur lorem donec massa sapien faucibus. Diam vulputate ut pharetra sit amet aliquam id diam maecenas. 
        Feugiat sed lectus vestibulum mattis ullamcorper velit. Quis varius quam quisque id diam vel quam elementum. 
        Et sollicitudin ac orci phasellus egestas. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant.
        <hr />
        Parturient montes nascetur ridiculus mus mauris vitae ultricies. Diam donec adipiscing tristique risus nec feugiat in fermentum. 
        Nisi quis eleifend quam adipiscing vitae proin. Eu non diam phasellus vestibulum lorem sed risus. Lacus suspendisse faucibus interdum posuere. 
        Blandit volutpat maecenas volutpat blandit aliquam etiam. Phasellus vestibulum lorem sed risus ultricies.
        <hr />
        Eget mauris pharetra et ultrices neque ornare aenean euismod elementum. Risus sed vulputate odio ut.
        Enim facilisis gravida neque convallis. Duis tristique sollicitudin nibh sit amet. Id diam maecenas ultricies mi eget. 
        Nibh nisl condimentum id venenatis. Enim nunc faucibus a pellentesque sit. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum.
        <hr />
        Quis viverra nibh cras pulvinar mattis nunc sed. Leo a diam sollicitudin tempor. Pharetra convallis posuere morbi leo urna molestie at. 
        Quis blandit turpis cursus in hac habitasse platea dictumst.
    </p>
</div>