@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="conactHeader">
    <h3>Get in touch !</h3>
    <img src="https://images.pexels.com/photos/263564/pexels-photo-263564.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" height="400" width="400" />   
</div>

<div class="contact">
    <address>
        One Mechainics Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        0151 496 0404
    </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
</div>