@{
    //Creating a Test View Bag
    @*ViewBag.TestViewBag = "Test sdglkszgndlns";*@
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to MikesMovies</h1>
    <div class="homePhoto">
        <img src="https://i.pinimg.com/564x/f2/03/dc/f203dc3adbfd078bbf7381a34f22b379.jpg" height="" with />
    </div>

    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Sit amet volutpat consequat mauris nunc congue nisi vitae. Elit eget gravida cum sociis natoque.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Who ?</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu. Vulputate ut pharetra sit amet aliquam id diam.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What ?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Pulvinar pellentesque habitant morbi tristique senectus et. In egestas erat imperdiet sed euismod nisi porta lorem.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Why ?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Sit amet volutpat consequat mauris nunc congue nisi vitae. Elit eget gravida cum sociis natoque.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>